@model UpdateProductDetailDto
@{
    ViewData["Title"] = "UpdateProductDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Bordered Table</h4>
                <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Kategori Id</label>
                        <input type="hidden" readonly class="form-control" asp-for="ProductDetailID" />
                        <input type="hidden" readonly class="form-control" asp-for="ProductId" />
                        <br />
                        <label>Ürün Açıklaması</label>
                        <textarea rows="3" class="form-control" asp-for="ProductDescription"></textarea>
                        <br />
                        <label>Ürün Bilgisi</label>
                        <textarea rows="3" class="form-control" asp-for="ProductInfo"></textarea>
                        <br />
                        
                        <button class="btn btn-primary">Ürün Detayı Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>